<script lang="ts">
    import { open } from "@tauri-apps/api/shell";
    import { createEventDispatcher } from "svelte";

    export let hash: string;
    export let title: string;
    export let date: string;
    export let body: string;
    export let url: string;
    export let repository: string;

    const dispatch = createEventDispatcher();

    function markDone() {
        dispatch("remove", { hash: hash });
    }

    function openExternal() {
        open(url);
    }
</script>

<li>
    <button on:click={markDone}>✔</button>
    <button on:click={openExternal}>⤴</button>
    <div id="title">{title}</div>
    <div id="date">{date}</div>
</li>

<style>
    .ignored {
    }

    li {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    li * {
        flex: auto 0;
        align-content: center;
    }

    li button {
        width: 2em;
        height: 2em;
        padding: 0;
    }
    li #title {
        flex: 1 1;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    li #date {
        justify-self: flex-end;
    }
</style>
