<script lang="ts">
  import { onMount } from "svelte";
  import { derived, writable } from "svelte/store";
  import { invoke } from "@tauri-apps/api";
  import { Circle } from "svelte-loading-spinners";
  import Entry from "./components/Entry.svelte";

  function groupEntries(entries) {
    let groupMap: Map<string, Array<any>> = new Map();
    for (let entry of entries) {
      if (groupMap.has(entry.repository)) {
        groupMap.get(entry.repository)?.push(entry);
      } else {
        groupMap.set(entry.repository, [entry]);
      }
    }
    let groups = Array.from(groupMap);
    groups.sort();
    return groups;
  }

  function sortGroups(groups: any[][]) {
    return groups.map(([repo, entries]) => [
      repo,
      entries.toSorted(cmpEntries),
    ]);
  }

  const entries = writable([]);
  const managed = derived(entries, ($entries) => {
    // TODO: filter at the start
    let grouped = groupEntries($entries);
    let sorted = sortGroups(grouped);
    return sorted;
  });

  let since = null;
  // TODO: handle concurrent updates
  let updating = false;

  onMount(async () => {
    invoke("get_entries").then((resp) => {
      entries.set(resp);
    });
  });

  async function removeEntry(e) {
    let hash = e.detail.hash;
    entries.update((entries) => entries.filter((entry) => entry.hash != hash));
    await invoke("remove_entry", { hash: hash });
  }

  async function updateEverything() {
    updating = true;
    await invoke("update_all_repositories", { since: since });
    $entries = await invoke("get_entries");
    updating = false;
  }

  async function removeAllEntries() {
    entries.update((entries) => {
      for (let entry of entries) {
        invoke("remove_entry", { hash: entry.hash });
      }
      return [];
    });
  }

  function cmpEntries(e1, e2) {
    return e1.date > e2.date ? -1 : 1;
  }
</script>

<main>
  <input bind:value={since} type="date" />
  <button on:click={updateEverything}>update all repositories</button>
  <button on:click={removeAllEntries}>mark all done</button>
  {#if updating}
    <Circle />
  {/if}

  {#each $managed as group}
    <h2>{group[0]}</h2>
    <ul>
      {#each group[1] as entry}
        <Entry on:remove={removeEntry} {...entry} />
      {/each}
    </ul>
  {/each}
</main>

<style>
  .ignored {
  }

  ul {
    list-style: none;
    padding: 0;
  }
</style>
